<!DOCTYPE html>
<html>
  <head>
    <title>Dashboard Web Programming Portal</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag    'admin', media: 'all'%>
    <%= javascript_include_tag 'admin'%>
     
  </head>

  <body>
    <%= render partial: "admin/shared/menu" %> 
    <% flash.each do |key, message| %>
      <div><%= message %></div>
    <% end %>
    
    <div class="container">
      <%= yield :title_h1%>
      <%= yield :breadcrumb%>
      <%= yield %>
    </div>
    <!-- Footer -->
    <%= render partial: "shared/footer"%>
    <!--/Footer -->    
  </body>
</html>
